.scrolls {
    height: 80px;
    white-space:nowrap;
    overflow:hidden;
    overflow-y: visible;
    overflow-x: auto;

}
.card {
    box-shadow: 1px 1px 10px #999;
    margin: 2px;
    max-height: 50px;
    cursor: pointer;
    display:inline-block;
    vertical-align:top;

 }
